<form [formGroup]="componentForm"
  class="d-flex flex-wrap justify-content-center justify-content-sm-end align-items-center gap-2 px-4">

  <p *ngIf="titulo" class="fs-36 mb-0 me-auto">{{titulo}}</p>

  <div *ngFor="let filter of filtersObjects" class="d-flex justify-content-center">

    <div *ngIf="filter.filterType == 'multiSelect'" class="dropdown">

      <button
        class="border px-3 py-2 cmm-bg-white rounded d-flex align-items-center justify-content-around dropdown-toggle"
        style="width: 150px; height: 50px; " data-bs-toggle="dropdown" aria-expanded="false"
        data-bs-auto-close="outside">

        <mat-icon *ngIf="filter.icon">{{filter.icon}}</mat-icon>

        <p class="m-0">{{filter.nameFilter}}</p>

      </button>

      <ul class="dropdown-menu">

        <li *ngFor="let option of filter.options">

          <mat-checkbox *ngIf="!option.subOptions?.length" class="dropdown-item" color="primary"
            (change)="componentForm.controls[option.nameForm].setValue($event.checked)">
            {{option.nameOption}}
          </mat-checkbox>

          <div *ngIf="option.subOptions?.length" class="dropstart d-flex justify-content-center">

            <p class="dropdown-toggle my-2 fs-14" style="width: 125px;"
            data-bs-toggle="dropdown" data-bs-auto-close="inside">
              {{option.nameOption}}
            </p>

            <ul class="dropdown-menu p-3">

              <li *ngFor="let subOption of option.subOptions">
                <mat-radio-button class="dropdown-item" [checked]="checkSubOptionState(option.nameForm, subOption.value)"
                (change)="addSubOptionMultiselect(option.nameForm, subOption.value)" [value]="subOption.value">
                  {{subOption.nameSubOption}}
                </mat-radio-button>
              </li>

              <cmm-cmp-b-button class="w-100" [button_text]="'Filtrar'" (click)="onSubmit()"></cmm-cmp-b-button>

            </ul>

          </div>

        </li>

      </ul>

    </div>

    <div *ngIf="filter.filterType == 'radioSelect'" class="dropdown">

      <button class="border px-3 py-2 cmm-bg-white rounded d-flex align-items-center justify-content-around dropdown-toggle"
      style="width: 150px; height: 50px; " data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">

        <mat-icon *ngIf="filter.icon">{{filter.icon}}</mat-icon>

        <p class="m-0">{{filter.nameFilter}}</p>

      </button>

      <ul class="dropdown-menu">

        <li *ngFor="let option of filter.options">

          <div class="dropstart d-flex justify-content-center">

            <p class="dropdown-toggle my-2 fs-14" style="width: 125px;"
            data-bs-toggle="dropdown" data-bs-auto-close="inside">
              {{option.nameOption}}
            </p>

            <ul class="dropdown-menu p-3">

              <li *ngFor="let subOption of option.subOptions">
                <mat-radio-button class="dropdown-item" [checked]="checkSubOptionState(option.nameForm, subOption.value)"
                (change)="this.componentForm.controls[option.nameForm].setValue(subOption.value); onSubmit()">
                  {{subOption.nameSubOption}}
                </mat-radio-button>
              </li>

            </ul>

          </div>

        </li>

      </ul>

    </div>

    <div *ngIf="filter.filterType == 'radioSelect'" class="dropdown">

      <button class="border px-3 py-2 cmm-bg-white rounded d-flex align-items-center justify-content-around dropdown-toggle"
      style="width: 150px; height: 50px; " data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">

        <mat-icon *ngIf="filter.icon">{{filter.icon}}</mat-icon>

        <p class="m-0">{{filter.nameFilter}}</p>

      </button>

      <ul class="dropdown-menu">

        <li *ngFor="let option of filter.options">

          <div class="dropstart d-flex justify-content-center">

            <p class="dropdown-toggle my-2 fs-14" style="width: 125px;"
            data-bs-toggle="dropdown" data-bs-auto-close="inside">
              {{option.nameOption}}
            </p>

            <ul class="dropdown-menu p-3">

              <li *ngFor="let subOption of option.subOptions">
                <mat-radio-button class="dropdown-item" [checked]="checkSubOptionState(option.nameForm, subOption.value)"
                (change)="this.componentForm.controls[option.nameForm].setValue(subOption.value); onSubmit()">
                  {{subOption.nameSubOption}}
                </mat-radio-button>
              </li>

            </ul>

          </div>

        </li>

      </ul>

    </div>

    <div *ngIf="filter.filterType == 'quantity'" class="dropdown">

      <button
        class="border px-3 py-2 cmm-bg-white rounded dropdown-toggle d-flex align-items-center justify-content-around"
        style="width: 150px; height: 50px; " data-bs-toggle="dropdown" aria-expanded="false"
        data-bs-auto-close="outside">

        <mat-icon *ngIf="filter.icon">{{filter.icon}}</mat-icon>

        <p class="m-0">{{filter.nameFilter}}</p>

      </button>

      <div class="dropdown-menu p-3">

        <cmm-cmp-i-amount *ngFor="let option of filter.options" [label]="option.nameOption"
          [formControlName]="option.nameForm"></cmm-cmp-i-amount>

        <cmm-cmp-b-button class="w-100" [button_text]="'Filtrar'" (click)="onSubmit()"></cmm-cmp-b-button>

      </div>

    </div>

    <div *ngIf="filter.filterType == 'input'">

      <cmm-cmp-i-text *ngFor="let option of filter.options" [label]="option.nameOption"
        [formControlName]="option.nameForm" [subscriptSizing]="'dynamic'">
        <mat-icon *ngIf="filter.icon" dinamycPreffix>{{filter.icon}}</mat-icon>
      </cmm-cmp-i-text>

    </div>

    <div *ngIf="filter.filterType == 'date'">

      <div *ngFor="let option of filter.options" class="position-relative">

        <mat-form-field class="position-absolute invisible">
          <input matInput [matDatepicker]="picker" [formControlName]="option.nameForm">
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>

        <button class="border px-3 py-2 cmm-bg-white rounded d-flex align-items-center justify-content-around position-relative"
        style="width: 150px; height: 50px; " mat-raised-button (click)="picker.open()">

          <mat-icon *ngIf="filter.icon">{{filter.icon}}</mat-icon>

          <p class="m-0">{{filter.nameFilter}}</p>

        </button>

      </div>

    </div>

  </div>

  <cmm-cmp-b-button *ngIf="actionButtonText" [button_text]="actionButtonText"
    (click)="buttonAction.emit()"></cmm-cmp-b-button>

  <div class="w-100 d-flex flex-wrap gap-2 align-items-center justify-content-end my-2">

    <div *ngFor="let item of componentForm.value | keyvalue">

      <p *ngIf="item.value" class="m-0 p-3 rounded fs-14 btn-primary cursor-pointer text-center" style="min-width: 115px;"
      (click)="this.componentForm.controls[item.key!.toString()].setValue(''); onSubmit()">
        {{item.value}}
      </p>

    </div>

  </div>

</form>
