@import '../../../../common/assets/styles/scss/variables.scss';

.product-cart{
  box-shadow: 0 0 2px $v-txt !important;
  background-color: $v-white;
  color: $v-txt;
}

.product-cart:hover {
  animation: hover 250ms ease;
  animation-fill-mode: forwards;
  p,
  div p {
    color: $v-white;
  }
}

@keyframes hover {
  0%   {
    box-shadow: 0 0 2px $v-txt;
    background-color: $v-white;
    color: $v-txt;
  }
  100% {
    box-shadow: 0 0 10px $v-primary-selected;
    background-color: $v-txt;
    transform: translateY(-1.5rem);
  }
}
