<section class="container p-3 mb-5">

  <!-- Intento de stepper -->
  <div *ngIf="productsList.length" class="container d-flex justify-content-around align-items-center">

    <!-- Paso del proceso -->
    <div class="rounded-circle border col-2 d-flex justify-content-center align-items-center cursor-pointer"
    style="max-width: 100px; aspect-ratio: 1/1;" (click)="step = 1" [matTooltip]="step != 1 ? 'Ir a paso 1' : ''"
    [ngClass]="step == 1 ? 'actual-step' : stepsCompleted > 1 ? 'step-completed' : 'default-step'">

      <p class="m-0 fs-30">1</p>

    </div>

    <!-- Separador -->
    <div class="flex-grow-1 border-bottom"></div>

    <!-- Paso del proceso -->
    <div class="rounded-circle border col-2 d-flex justify-content-center align-items-center cursor-pointer"
    style="max-width: 100px; aspect-ratio: 1/1;" (click)="step = 2" [matTooltip]="step != 2 ? 'Ir a paso 2' : ''"
    [ngClass]="step == 2 ? 'actual-step' : stepsCompleted > 2 ? 'step-completed' : 'default-step'">

      <p class="m-0 fs-30">2</p>

    </div>

    <!-- Separador -->
    <!-- <div class="flex-grow-1 border-bottom"></div> -->

    <!-- Paso del proceso -->
    <!-- <div class="rounded-circle border col-2 d-flex justify-content-center align-items-center cursor-pointer"
    style="max-width: 100px; aspect-ratio: 1/1;" (click)="step = 3"
    [ngClass]="step == 3 ? 'actual-step' : stepsCompleted > 3 ? 'step-completed' : 'default-step'">

      <p class="m-0 fs-30">3</p>

    </div> -->

  </div>

  <div class="container mx-auto p-3 d-flex flex-wrap justify-content-around align-items-center">

    <cmp-cart-products *ngIf="step == 1" class="col-12 p-2" [productsList]="productsList"
    (nextStep)="$event ? step = 2 : getProductsList()"> </cmp-cart-products>

    <!-- <cmp-delivery-method *ngIf="step == 2"  class="col-12 p-2"></cmp-delivery-method> -->

    <cmp-payments-metods *ngIf="step == 2" class="col-12 p-2" [deliveryMethodsList]="deliveryMethodsList"
    [deliveryRequired]="deliveryRequired"></cmp-payments-metods>

  </div>

</section>
