<footer class="d-flex flex-column" style="height: 25vh;">

  <!-- menu del footer -->
  <div class="d-flex align-items-center w-100" style="height: 80%;" >

    <!-- Conenedor de la imagenes -->
    <div class="d-flex flex-column col-4 px-2 my-3 border-end h-100">

      <!-- Logos -->
      <img [src]="nerdsWebIsotipo" alt="Logo de nerdsweb" style="max-width: 230px;">

      <!-- medios de comunicacion -->
      <div class="d-flex w-100 justify-content-end">

        <img [src]="emailIcon" alt="icono de email" style="max-width: 65px;">

        <img [src]="instagramIcon" alt="Icono de instagram" style="max-width: 65px;">

      </div>

    </div>

    <!-- Contenedor de Soluciones -->
    <div class="col-4 px-2 my-3 border-end h-100">

      <div class="d-flex flex-column mx-auto" style="max-width: fit-content;">

        <p class="ps-3 fw-bold fs-18">Soluciones</p>

        <a class="ps-3 text-decoration-none cmm-txt" [routerLink]="'products/ecommerce'">Ecommerce</a>

        <a class="ps-3 text-decoration-none cmm-txt" [routerLink]="'products/social_media'">Redes sociales</a>

        <a class="ps-3 text-decoration-none cmm-txt" [routerLink]="'products/social_media'">Diseho gråfico ¿Qué necesitas?</a>

        <a class="ps-3 text-decoration-none cmm-txt" [routerLink]="'products/ecommerce'">Plantillas</a>

      </div>

    </div>

    <!-- Contenedor de Informacion de la empresa -->
    <div class="col-4 px-2 my-3 border-end h-100">

      <div class="d-flex flex-column mx-auto" style="max-width: fit-content;">

        <p class="ps-3 fw-bold fs-18">Compañía</p>

        <a class="ps-3 text-decoration-none cmm-txt" [routerLink]="'home'">Nosotros</a>

        <a class="ps-3 text-decoration-none cmm-txt" [routerLink]="'home'">Compromisos</a>

        <a class="ps-3 text-decoration-none cmm-txt" [routerLink]="'home'">Centro de ayuda</a>

      </div>

    </div>

  </div>

  <!-- Barra del final -->
  <div class="w-100 d-flex align-items-center position-relative cmm-bg-gradient" style="overflow: hidden; height: 20%;">

    <div class="position-relative" style="box-shadow: -4em 0em 7em 14em white !important; height: 20px; top: 0; left: 0;"></div>
    <div class="position-relative" style="box-shadow: 4em 0em 7em 14em white !important; height: 20px; top: 0; left: 100%;"></div>

  </div>

</footer>
