<div class="d-flex flex-column justify-content-around align-items-center cmm-bg-white">

  <!-- Suscríbete -->
  <section class="w-100"
    style="background: linear-gradient(45deg, rgba(255,255,255,1) 24%, rgba(217,204,237,1) 65%, rgba(244,211,186,1) 91%);">

    <div class="container d-flex flex-wrap mx-auto justify-content-around align-items-center py-5">

      <!-- Contendor de texto -->
      <div data-aos="fade-right" class="col-12 col-md-6 d-flex flex-column justify-content-center text-center gap-2">

        <h2 class="ng-txt fw-bold">

          <span class="fw-bold cmm-txt-tertiary">Suscríbete</span> y <br>
          creamos tu <br>
          tienda online

        </h2>

        <p class="fs-20 fw-bold">Vende tus productos <br> las 24 horas del día.</p>

        <cmm-cmp-b-button class="col-10 col-md-6 mx-auto" [button_text]="'Ver Suscripciones'"
          [buttonType]="'gradient'"></cmm-cmp-b-button>

      </div>

      <!-- Contenedor de imagen -->
      <div data-aos="fade-left" class="col-12 col-md-6 text-center">

        <img [src]="person1Img" alt="" class="m-auto scale-2" loading="lazy">

      </div>

      <!-- Iconos informativos #1-->
      <div class="d-flex flex-wrap w-100 justify-content-around align-items-center z-1" style="margin-top: 94px;">

        <!-- Contendor de icono y texto -->
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
          class="col-12 col-md-4 d-flex flex-column justify-content-center">

          <img [src]="smileIcon" alt="" class="m-auto" style="max-width: 87px;" loading="lazy">

          <p class="text-center fs-24">Tu web diseñada <br> por profesionales.</p>

        </div>

        <!-- Contendor de icono y texto -->
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
          class="col-12 col-md-4 d-flex flex-column justify-content-center">

          <img [src]="folderIcon" alt="" class="m-auto" style="max-width: 87px;" loading="lazy">

          <p class="text-center fs-24">Tu tienda online <br> disponibles las 24 horas.</p>

        </div>

        <!-- Contendor de icono y texto -->
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
          class="col-12 col-md-4 d-flex flex-column justify-content-center">

          <img [src]="moneyIcon" alt="" class="m-auto" style="max-width: 87px;" loading="lazy">

          <p class="text-center fs-24">Las páginas web más <br> económicas del mercado.</p>

        </div>

      </div>

    </div>

  </section>

  <!-- LLega a tus clientes -->
  <section class="w-100 d-flex align-items-center"
    style="box-shadow: 0px 0px 40px 40px #ffffff !important; min-height: 700px;">

    <div class="d-flex flex-wrap container m-auto justify-content-around align-items-center">

      <!-- Contenedor de imagen -->
      <div data-aos="fade-right" class="col-12 col-md-6 position-relative text-center">

        <div class="position-absolute col-8 rounded-circle cmm-bg-gradient" style="aspect-ratio: 1/1; left: 10%;"></div>

        <img [src]="phoneImg" alt="" class="m-auto position-relative" loading="lazy" style="max-height: 450px;">

      </div>

      <!-- Contendor de texto -->
      <div data-aos="fade-left" class="col-12 col-md-6 d-flex flex-column justify-content-center">

        <h2 class="ng-txt fw-bold text-center cmm-txt-gradient mb-4">
          Llega a tus clientes
        </h2>

        <p class="text-center fs-20 mx-auto">
          Acompaña tu ecommerce con <br> planes de anuncios en redes sociales, fotografía <br> profesional, edición de
          video,<br> Google Ads, Branding y publicidad <br> exterior para que estés en todas partes.
        </p>

      </div>

    </div>

  </section>

  <!-- como pagar netflix -->
  <section class="w-100 d-flex align-items-center" style="background: linear-gradient(90deg, rgba(194,108,169,1) 0%,
  rgba(243,149,77,1) 49%,rgba(244,150,75,1) 50%,rgba(232,147,81,1) 59%, rgba(51,106,178,1) 100%);
  min-height: 500px;">

    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      class="container mx-auto d-flex flex-column justify-content-around align-items-center p-4 text-white">

      <h2 class="cmm-txt-white text-center fw-bold">
        ¡Tan fácil como pagar Netflix! <br> Ahora puedes pagar tu ecommerce
      </h2>

      <p class="text-center fs-28 text-white">
        Nuestras suscripciones cuentan con todo lo que necesitas para poner en marcha<br> tu ecommerce o página web.
      </p>

    </div>


  </section>

  <!-- Llega a tus clientes #2 !revisar -->
  <section class="w-100 d-flex align-items-center" style="min-height: 700px;">

    <div class="container mx-auto d-flex flex-wrap justify-content-around align-items-center">

      <!-- Contendor de texto -->
      <div data-aos="fade-right" class="col-12 col-md-6 d-flex flex-column justify-content-center">

        <h2 class="ng-txt fw-bold text-center mb-4">
          Llega a tus clientes
        </h2>

        <p class="text-center fs-20 mx-auto">
          Tu sitio web, adaptado a ti. Además diseño gráfico<br>
          para gigantografías, pendones, papelería, branding,<br>
          tarjetas de presentación, post para redes sociales,<br>
          banners y todo lo que necesitas para que tu tienda<br>
          rompa la internet en ventas.
        </p>

      </div>

      <!-- Contenedor de imagen -->
      <div data-aos="fade-left" class="col-12 col-md-6 position-relative text-center">

        <div class="position-absolute col-8 rounded-circle cmm-bg-gradient" style="aspect-ratio: 1/1; left: 10%;"></div>

        <img [src]="laptopImg" alt="" class="m-auto position-relative scale-2" loading="lazy"
          style="max-height: 400px;">

      </div>

    </div>

  </section>

  <!-- Conoce nuestros planes de suscripción -->
  <section class="w-100 d-flex align-items-center" style="min-height: 400px;">

    <div class="container mx-auto justify-content-around align-items-center position-relative">

      <!-- blurrrrr -->
      <span class="curuba-shadow rounded position-absolute p-0"
        style="height: 100px; width: 0; top: 0; right: 0;"></span>
      <span class="purple-shadow rounded position-absolute p-0"
        style="height: 100px; width: 0; top: 35rem; left: 0;"></span>

      <!-- Contendor de texto -->
      <div class="col-12 d-flex flex-column justify-content-center position-relative cmm-bg-transparent">

        <h2 class="ng-txt cmm-txt-tertiary fw-bold text-center mb-3">
          Conoce nuestros planes de suscripción
        </h2>

        <p class="fs-24 text-center">
          Elige el plan que satisfaa tus necesidades, todos han sido ideados para que obtengas lo mejor de la internet a
          un costo accesible
        </p>

      </div>

      <!-- Contenedor de planes -->
      <cmm-cmp-b-button class="col-10 col-md-6 col-lg-4 mx-auto d-block" [button_text]="'Ver suscripciones'"
        [buttonType]="'gradient'"></cmm-cmp-b-button>

    </div>

  </section>

  <!-- servicios adicionales -->
  <!-- <section class="w-100 d-flex flex-column m-0 justify-content-center align-items-center text-center" style="min-height: 400px;">

      <h2 class="ng-txt fw-bold mb-4">
        Nuestros servicios adicionales son Ia clave <br>
        para el crecimiento de tu negocio
      </h2>

      <p class="fs-24">Puedes contratar servicios adicionales que permitan potenciar la apariencia de tu negocio para <br>
        enamorar a tus clientes de tus productos y servicios..</p>

  </section> -->

  <!-- Redes sociales -->
  <section class="w-100 d-flex align-items-center" style="min-height: 500px;">

    <div class="container mx-auto d-flex flex-wrap justify-content-around align-items-center">

      <!-- Contendor de texto -->
      <div data-aos="fade-right" class="col-12 col-md-6 d-flex flex-column justify-content-center text-center gap-3">

        <h2 class="ng-txt fw-bold text-center cmm-txt-gradient mb-4">
          Llevamos tus redes sociales
        </h2>

        <p class="text-center fs-20 mx-auto">
          Deja tus redes sociales en manos <br> de los Profesionales, nuestros planes están concebidos <br> para que
          crezcan tus seguidores y tus clientes.
        </p>

        <cmm-cmp-b-button class="col-10 col-md-6 mx-auto" [button_text]="'Ver suscripciones'"
          [buttonType]="'gradient'"></cmm-cmp-b-button>

      </div>

      <!-- Contenedor de imagen -->
      <div data-aos="fade-left" class="col-12 col-md-6 text-center">

        <img [src]="person3Img" alt="" class="m-auto" loading="lazy">

      </div>

    </div>

  </section>

  <!-- Iconos informativos #2 -->
  <section class="w-100 d-flex align-items-center position-relative z-2" style="min-height: 500px;">

    <div class="container mx-auto d-flex flex-wrap align-items-start">

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center text-center">

        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">
          <img [src]="calendarIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">
        </div>

        <h4 class="fw-bold fs-20">Planificación</h4>

        <p class="fs-14 w-80">Redacción y planificación de
          publicaciones para mantener
          tus redes sociales al día y que
          siempre sepas lo que se estará
          publicando.</p>

      </div>

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center text-center">

        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">
          <img [src]="microphoneIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">
        </div>

        <h4 class="fw-bold fs-20">Anuncios</h4>

        <p class="fs-14 w-80">Gestión, creación y planificación
          de anuncios para asegurar su
          máxima rentabilidad.</p>

      </div>

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center text-center">

        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">
          <img [src]="stadisticIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">
        </div>

        <h4 class="fw-bold fs-20">Estadísticas</h4>

        <p class="fs-14 w-80">Estudios que permiten
          conocer que funciona
          más y las preferencias
          de sus clientes en las
          plataformas online.</p>

      </div>

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center text-center">

        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">
          <img [src]="phoneIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">
        </div>

        <h4 class="fw-bold fs-20">Influencer</h4>

        <p class="fs-14 w-80">Estudio y recomendación de
          influencers que le permitan
          crecer, generar credibilidad y
          cercarse mas a su audiencia.</p>

      </div>

    </div>


  </section>

  <!-- Fotografía -->
  <section class="w-100 d-flex align-items-center cmm-bg-shadow" style="min-height: 500px;">

    <div class="container mx-auto d-flex flex-wrap justify-content-around align-items-center">

      <!-- Contenedor de imagen -->
      <div data-aos="fade-right" class="col-12 col-md-6 position-relative text-center">

        <div class="position-absolute col-6 rounded-circle cmm-bg-gradient" style="aspect-ratio: 1/1; left: 7%;"></div>

        <img [src]="cameraImg" alt="" class="col-9 mx-auto position-relative" loading="lazy" style="max-height: 400px;">

      </div>

      <!-- Contendor de texto -->
      <div data-aos="fade-left"
        class="col-12 col-md-6 position-relative d-flex flex-column justify-content-center text-center gap-3">

        <h2 class="ng-txt fw-bold mb-4">Fotografía</h2>

        <p class="fs-20 mx-auto">
          La fotografía es una inversión a largo plazo,<br>
          porque puedes usar las fotos tantas veces<br>
          como desees y en los tamaños que necesites.<br>
          Nuestro servicio de fotografía digital, permitirá<br>
          estilizar tu ecommerce, y ser más atractivo.
        </p>

        <cmm-cmp-b-button class="col-10 col-md-6 mx-auto" [button_text]="'Solicitar pauta'"
          [buttonType]="'gradient'"></cmm-cmp-b-button>

      </div>

    </div>

  </section>

  <!-- ¿Aún con dudas? -->
  <section class="w-100 d-flex align-items-center" style="min-height: 500px;">

    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      class="container mx-auto d-flex flex-wrap justify-content-around align-items-center">

      <!-- Contendor de texto -->
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center text-center gap-3">

        <h2 class="ng-txt fw-bold mb-4 position-relative">¿Aún con dudas?</h2>

        <p class="fs-24 mx-auto">
          Escríbenos tus dudas,<br>
          también estamos disponibles <br>
          en
          <a class="cursor-pointer" style="color: #28c666; text-decoration: none;">
            WhatsApp
            <img [src]="whatsappIcon" alt="" class="ms-1" style="width: 20px;">
          </a>
        </p>

      </div>

      <!-- Contenedor de imagen -->
      <div class="col-12 col-md-6 position-relative text-center">

        <!-- Formulario de contacto -->
        <cmp-contact-form></cmp-contact-form>

      </div>

    </div>

  </section>

</div>