<div class="container-full d-flex flex-column justify-content-around align-items-center cmm-bg-white">

  <!-- Primer contenedor de imagen y texto -->
  <section class="w-100 position-relative">

    <div
      style="height: 445px; top: 5rem; background: linear-gradient(146deg, rgba(222,211,241,1) 0%, rgba(247,216,195,1) 100%);"
      class="position-absolute w-100"></div>

    <div class="container position-relative d-flex flex-wrap mx-auto justify-content-around align-items-center py-4">

      <!-- Contenedor de imagen -->
      <div data-aos="fade-left" class="col-12 col-lg-6 position-relative text-center">

        <div class="position-absolute col-9 rounded-circle cmm-bg-gradient top-50 start-50 translate-middle"
          style="aspect-ratio: 1/1;"></div>

        <img [src]="instagramPhoneImg" alt="" class="m-auto position-relative" loading="lazy">

      </div>

      <!-- Contendor de texto -->
      <div data-aos="fade-right" class="col-12 col-lg-6 d-flex flex-column justify-content-center text-center gap-2">

        <h2 class="ng-txt fw-bold">

          <span class="fw-bold cmm-txt-tertiary">Vende</span>
          a través de <br>
          tus redes sociales

        </h2>

        <p class="fs-20 fw-bold">Vende tus productos las 24 horas del día.</p>

      </div>

    </div>

  </section>

  <!-- Iconos informativos #1-->
  <section class="w-100 pt-5">

    <div class="container d-flex flex-wrap mx-auto justify-content-around align-items-center py-4">

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-lg-4 d-flex flex-column justify-content-center text-center">

        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">

          <img [src]="arrowIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">

        </div>

        <h4 class="fw-bold">Segmentación</h4>

        <p class="fs-16">
          Segmentamos el público para <br>
          que tus anuncios obtengan los <br>
          mejores resultados.
        </p>

      </div>

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-lg-4 d-flex flex-column justify-content-center text-center">

        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">

          <img [src]="cameraIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">

        </div>

        <h4 class="fw-bold">Contenido orgánico</h4>

        <p class="fs-16">
          Editamos los videos generados en<br>
          las instalaciones del cliente para<br>
          propocionar contenido real.
        </p>

      </div>

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-lg-4 d-flex flex-column justify-content-center text-center">


        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">

          <img [src]="penIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">

        </div>

        <h4 class="fw-bold">Diseño Gráfico</h4>

        <p class="fs-16">
          Todas las imágenes y anuncios<br>
          creadas por profesionales.
        </p>

      </div>

    </div>

  </section>

  <!-- Crece de manera exponencial -->
  <section class="w-100 d-flex justify-content-center align-items-center">

    <div class="container d-flex flex-wrap flex-column-reverse flex-lg-row justify-content-around align-items-center"
      style="min-height: 840px;">

      <!-- Contendor de texto -->
      <div data-aos="fade-left" class="h-100 col-12 col-lg-6 d-flex flex-column justify-content-center gap-5">

        <h2 class="ng-txt fw-bold text-center">
          <span class="fw-bold cmm-txt-gradient">Crece</span>
          de manera <br>
          exponencial
          <img [src]="bullStadisticsIcon" alt="" style="width: 15%; aspect-ratio: 1/1;">
        </h2>

        <div class="col-12 col-sm-10 col-lg-11 mx-auto d-flex flex-wrap justify-content-center align-items-center p-3">

          <div class="col-12 col-sm-6 d-flex align-items-center">

            <mat-icon class="col-2">done</mat-icon>

            <p class="col-10 fs-20 text-nowrap m-0">

              Diseño de feed

            </p>

          </div>


          <div class="col-12 col-sm-6 d-flex align-items-center">

            <mat-icon class="col-2">done</mat-icon>

            <p class="col-10 fs-20 text-nowrap m-0">

              Edición fotográfica

            </p>

          </div>


          <div class="col-12 col-sm-6 d-flex align-items-center">

            <mat-icon class="col-2">done</mat-icon>

            <p class="col-10 fs-20 text-nowrap m-0">

              Edición de video

            </p>

          </div>


          <div class="col-12 col-sm-6 d-flex align-items-center">

            <mat-icon class="col-2">done</mat-icon>

            <p class="col-10 fs-20 text-nowrap m-0">

              Publicaciones

            </p>

          </div>


        </div>

      </div>

      <!-- Contenedor de imagen -->
      <div data-aos="fade-right" class="col-12 col-lg-6 position-relative text-center">

        <div class="position-absolute col-10 rounded-circle cmm-bg-gradient top-50 start-50 translate-middle"
          style="aspect-ratio: 1/1;"></div>

        <img [src]="instagramPostsImg" alt="" class="m-auto h-auto position-relative" loading="lazy">

      </div>

    </div>

  </section>

  <!-- Elige el plan -->
  <section class="w-100 d-flex align-items-center" style="min-height: 400px;">

    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      class="container mx-auto d-flex flex-column justify-content-around align-items-center p-4 text-white">

      <p class="txt text-center fs-38 fw-bold">
        Elige el plan que más se adecua a tus necesidades
      </p>

      <p class="text-center fs-30">
        La comunicación de tus productos es escencial para el crecimiento de tu negocio
      </p>

    </div>


  </section>

  <!-- Contedores de productos -->
  <section class="w-100 position-relative mb-5">

    <!-- blurrrrr -->
    <span class="curuba-shadow rounded position-absolute p-0"
      style="height: 100px; width: 0; bottom: 20%; right: 50%;"></span>
    <span class="purple-shadow rounded position-absolute p-0"
      style="height: 100px; width: 0; top: 20%; right: 50%;"></span>

    <cmp-product-card-info class="container mx-auto position-relative"
      [category]="'socialmedia'"></cmp-product-card-info>
  </section>

  <!-- Iconos informativos #2-->
  <section class="w-100 mt-4">

    <p class="fs-34 fw-bold w-100 text-center" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
      data-aos-delay="300" data-aos-offset="0">
      Nuestro proceso es así
    </p>

    <div class="container d-flex flex-wrap mx-auto justify-content-around align-items-center py-4">

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-lg-3 d-flex flex-column justify-content-center text-center">

        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">

          <img [src]="listIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">

        </div>

        <h4 class="fw-bold">objetivos</h4>

        <p class="fs-16">
          Definición de Objetivos para la <br>
          estrategia
        </p>

      </div>

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-lg-3 d-flex flex-column justify-content-center text-center">

        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">

          <img [src]="writeIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">

        </div>

        <h4 class="fw-bold">Mercado</h4>

        <p class="fs-16">
          Estudio del mercado, creación <br>
          de estrategia
        </p>

      </div>

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-lg-3 d-flex flex-column justify-content-center text-center">


        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">

          <img [src]="rocketIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">

        </div>

        <h4 class="fw-bold">Diseño Gráfico</h4>

        <p class="fs-16">
          Planificación de grilla mensual <br>
          y creación de publicaciones
        </p>

      </div>

      <!-- Contendor de icono y texto -->
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500"
        class="col-12 col-lg-3 d-flex flex-column justify-content-center text-center">


        <div class="d-flex justify-content-center align-items-center mx-auto"
          style="height: 100px; width: fit-content;">

          <img [src]="loudspeakerIcon" alt="" class="w-100" style="max-width: 87px;" loading="lazy">

        </div>

        <h4 class="fw-bold">Seguimiento</h4>

        <p class="fs-16">
          Inicio de publicaciones y <br>
          seguimiento de anuncios
        </p>

      </div>

    </div>

  </section>

  <!-- Ellos confiaron en nosotros  -->
  <section class="w-100 d-flex align-items-end pb-3" style="min-height: 300px;">

    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      class="container mx-auto d-flex flex-column justify-content-around align-items-center p-4 text-white">

      <h2 class="txt text-center fw-bold">
        ¡Tu éxito de mañama
        <span class="fw-bold cmm-txt-tertiary">comienza hoy!</span>
      </h2>

      <p class="text-center fw-bold fs-30">
        ellos han confiado en nosotros
      </p>

    </div>

  </section>

  <!-- Carrucel del productos -->
  <section class="w-100">

    <!-- Carrucel -->
    <div id="carousel" class="w-100 carousel carousel-dark slide d-flex align-items-center" data-bs-touch="false"
      data-bs-pause="true" data-bs-ride="carousel">

      <!-- Indicadores de cantidade de porductos en el carrucel -->
      <div class="carousel-indicators">

        <button *ngFor="let button of socialmediaAllyArray, index as i" class="rounded" type="button"
          data-bs-target="#carousel" (click)="selectTemplate(i)" attr.data-bs-slide-to="{{i}}"
          [ngClass]="{'active': i == 0}" aria-label="Slide 1"></button>

      </div>

      <!-- contendor de imagenes -->
      <div class="carousel-inner h-100 pb-5">

        <!-- Plantilla -->
        <div *ngFor="let allyImg of socialmediaAllyArray, index as i" class="carousel-item h-100"
          [ngClass]="{'active': i == 0}" data-bs-interval="5000">

          <div class="col-12 h-100 p-0 mx-auto d-flex align-items-center">

            <img [src]="allyImg" class="d-block mx-auto" alt="imagen de la plantilla">

          </div>

        </div>

      </div>

    </div>

  </section>


  <!-- Fotografía -->
  <section class="w-100 d-flex align-items-center cmm-bg-shadow" style="min-height: 500px;">

    <div class="container mx-auto d-flex flex-wrap justify-content-around align-items-center">

      <!-- Contenedor de imagen -->
      <div data-aos="fade-right" class="col-12 col-md-6 position-relative text-center">

        <div class="position-absolute col-6 rounded-circle cmm-bg-gradient" style="aspect-ratio: 1/1; left: 7%;"></div>

        <img [src]="cameraImg" alt="" class="col-9 mx-auto position-relative" loading="lazy"
          style="max-height: 400px; transform: rotate(30deg);">

      </div>

      <!-- Contendor de texto -->
      <div data-aos="fade-left"
        class="col-12 col-md-6 position-relative d-flex flex-column justify-content-center text-center gap-3 scale-3">

        <h2 class="ng-txt fw-bold mb-4">
          Contenido
          <span class="fw-bold cmm-txt-tertiary">orgánico</span>
        </h2>

        <p class="fs-20 mx-auto">
          Brinda a tus seguidores una experiencia realista mostrando como se ven tus espacios y productos en la vida
          real. Contenido de la mejor calidad para tus usuarios

      </div>

      <!-- Botón de solicitar pauta -->
      <cmm-cmp-b-button class="w-100" [buttonclass]="'fs-20'" style="max-width: 400px;"
        [button_text]="'Solicitar pauta'" [buttonType]="'gradient'" (submit)="scrollToForm()"></cmm-cmp-b-button>

    </div>

  </section>

  <!-- Puntos a favor de usar nuestros servicios -->
  <section class="w-100 d-flex flex-column align-items-center">

    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      class="container mx-auto my-5 d-flex flex-column justify-content-around align-items-center p-4 text-white">

      <h2 class="cmm-txt-gradient text-center fw-bold">
        Fotografía y videos
      </h2>

      <p class="text-center fs-28">
        Pautas fotográficas pensadas para tus redes sociales y para tu ecommerce, <br>
        ten lo mejor de tus productos desde todos los ángulos
      </p>

    </div>

    <div class="container mx-auto mb-5 d-flex flex-wrap justify-content-around align-items-center"
      style="max-width: 900px;">

      <!-- Contendor de texto -->
      <div data-aos="fade-left"
        class="col-12 position-relative d-flex flex-column justify-content-center text-center gap-3 p-3 p-md-0">

        <!-- Contenedor de los puntos a favor -->
        <div class="d-flex flex-column justify-content-center align-items-center gap-3">

          <!-- Punto a favor -->
          <p class="fs-24 text-center text-md-nowrap m-0">

            3 horas de pauta fotográfica o videos

          </p>

          <!-- Separador -->
          <div class="my-1 w-100 cmm-bg-gradient-secondary" style="height: 3px; border-radius: 50%; max-width: 500px;">
          </div>

          <!-- Punto a favor -->
          <p class="fs-24 text-center text-md-nowrap m-0">

            Banco de fotografías para ecommerce

          </p>

          <!-- Separador -->
          <div class="my-1 w-100 cmm-bg-gradient-secondary" style="height: 3px; border-radius: 50%; max-width: 500px;">
          </div>

          <!-- Punto a favor -->
          <p class="fs-24 text-center text-md-nowrap m-0">

            Tiempo entre 7 y 14 días

          </p>

          <!-- Separador -->
          <div class="my-1 w-100 cmm-bg-gradient-secondary" style="height: 3px; border-radius: 50%; max-width: 500px;">
          </div>

          <!-- Punto a favor -->
          <p class="fs-24 text-center text-md-nowrap m-0">

            Contamos con servicio express

          </p>

          <!-- Separador -->
          <div class="my-1 w-100 cmm-bg-gradient-secondary" style="height: 3px; border-radius: 50%; max-width: 500px;">
          </div>

          <!-- Punto a favor -->
          <p class="fs-24 text-center text-md-nowrap m-0">

            Pautas solo para Caracas

          </p>

          <!-- Separador -->
          <div class="my-1 w-100 cmm-bg-gradient-secondary" style="height: 3px; border-radius: 50%; max-width: 500px;">
          </div>

          <!-- Punto a favor -->
          <p class="fs-24 text-center text-md-nowrap m-0">

            Banco de clips

          </p>

        </div>

      </div>

    </div>

  </section>

  <!-- ¿Aún con dudas? -->
  <section class="w-100 d-flex align-items-center" style="min-height: 500px;">

    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      class="container mx-auto d-flex flex-wrap justify-content-around align-items-center">

      <!-- Contendor de texto -->
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center text-center gap-3">

        <h2 class="ng-txt fw-bold mb-4 position-relative">¿Aún con dudas?</h2>

        <p class="fs-24 mx-auto">
          Escríbenos tus dudas,<br>
          también estamos disponibles <br>
          en
          <a class="cursor-pointer" style="color: #28c666; text-decoration: none;">
            WhatsApp
            <img [src]="whatsappIcon" alt="" class="ms-1" style="width: 20px;">
          </a>
        </p>

      </div>

      <!-- Contenedor de imagen -->
      <div id="contactForm" class="col-12 col-md-6 position-relative text-center">

        <!-- Formulario de contacto -->
        <cmp-contact-form></cmp-contact-form>

      </div>

    </div>

  </section>

</div>